@font-face {
  font-family: Ambit;
  src: url(./fonts/Ambit-Black.ttf);
}

* {padding: 0; margin: 0; font-family: 'Roboto', sans-serif;}

.bg {
  background: rgb(34,25,24);
  background: linear-gradient(90deg, rgba(34,25,24,1) 21%, rgba(46,34,33,1) 100%);
  height: 100vh;
}

.container {
  position: relative;
  background-color: #A99A9A;
  max-width: 300px;
  padding: 40px;
  margin: auto;
  top: 30px;
  border-radius: 10px;

}

h1 {
  font-family: Ambit;
  color: #221918;
  font-size: 185%;
  text-align: center;
}

input, button {
  display: block;
  width: 100%;
  margin-top: 13px;
  box-sizing: border-box;
  padding: 10px;
}

input {
  box-shadow: 0 6px 10px 0 rgb(0 0 0 / 10%);
  outline: 0;
  border: 0;
  border-radius: 10px;
}

button {
  font-family: Ambit;
  box-shadow:
  0 5.7px 4.5px rgba(0, 0, 0, 0.024),
  0 15.7px 12.4px rgba(0, 0, 0, 0.035),
  0 37.7px 29.8px rgba(0, 0, 0, 0.046),
  0 125px 99px rgba(0, 0, 0, 0.07)
;
  outline: 0;
  border: 0;
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #221918 ;
  color: #AC9A9A;
  font-weight: 800;
  margin-bottom: 30px;
  
}

button:hover {background-color: #835243; transition: 0.3s; color: #170F0E;}

#reset {
  margin-top: 80px;
}

.item {
  background-color: #221918;
  font-weight: bold;
  color: #AC9A9A;
  line-height: 30px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.itemIcon {
  width: 30px;
  vertical-align: middle;
  margin-right: 10px;
}

footer {
  display: block;
  width: 100%;
  height: 150px;
  position: absolute;
}
#author, #credits {
  color: #AC9A9A;
  font-weight: 300;
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -105px;
}

#author {font-weight: 900; font-size: 22px;}

#credits {
  font-size: 14px;
  bottom: 10px;
  margin-left: -107.5px;
}

a {text-decoration: none; color: #AC9A9A;}
a:hover {color: darkred;}

#github{
  width: 40px;
  position: absolute;
  bottom: 60px;
  left: 50%;
  margin-left: -20px;

}

#github:hover {opacity: 40%;}

@media (max-width: 320px) {
  h1 {font-size: 23px;}
}
@media (max-width:280px) {

}



